<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>  
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="connection.username">sys as SYSDBA</property>  
        <property name="connection.password">admin@1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property> 
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<!--1) none : will do nothing 2) create : schema DDL created every time when SessionFactory Object is created -->
		<!--3) update : schema DDL updated every time when SessionFactory Object is created -->
    
    	<mapping resource="com/learning/vo/CmnUserMstVO.hbm.xml"/>
    	  
    </session-factory>  
  
</hibernate-configuration>  
